<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_tag(products_path,method:"get",remote:true) do %>
      <div class="form-group">
        <%= text_field_tag(:search_term,params[:search_term],class: 'form-control') %>
        <%= submit_tag("search",class: 'btn btn-success pull-right') %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "create product",new_product_path %>
<div class="products">
  <%= render @products %>
</div>